html {
  height: 100vh;
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fullWidth {
  width: 100%;
}

.paddingRL {
  padding-left: 10px;
  padding-right: 10px;
}

.paddingTB {
  padding-top: 10px;
  padding-bottom: 10px;
}

.marginTB {
  margin-top: 10px;
  margin-bottom: 10px;
}

.voterBox {
  border: solid black 2px;
  height: 100%;
}

.evenSpace {
  flex: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.tdCenter > td {
  text-align: center;
}

.thCenter > th {
  text-align: center;
}
