.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fullWidth {
  width: 100%;
}

.paddingRL {
  padding-left: 10px;
  padding-right: 10px;
}

.paddingTB {
  padding-top: 10px;
  padding-bottom: 10px;
}

.marginTB {
  margin-top: 10px;
  margin-bottom: 10px;
}

.voterBox {
  border: solid black 2px;
}
